#sidebar {
  position: fixed;
  top: 64px;
  left: 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 319px;
  background-color: white;
  float: left;
}

#body {
  position: relative; /* necessary? */
  background-color: #f1f1f1;
  top: 64px;
  height: 100%;
  width: calc(100% - 319px);
  float: right;
}


#priorities, #nopreference {
  list-style-type: none;
  margin: 0;
  background: #e0e0e0;
  padding: 0px;
  width: 100%;
  min-height: 100px;
}

.priority {
  margin-bottom: 12px;
  padding-left: 10px;
  padding-right: 0px;
  font-size: 1.2em;
  height: 33px;
  line-height: 31px;
  width: 100%;
  background-color: rgb(244,244,244);
  border-radius: 5px;
  border: 1px solid rgb(204,204,204);
  font-size: 16px;
}



.sidebar-header {
  color: white;
  background-color: #285797;
  font-weight: 550;
  font-size: 20px;
  border-bottom-color: rgb(164,170,188);

}

.sidebar-menu {
  border: none;
  margin: 0px;
}

.sidebar-body {
  background-color: #e0e0e0;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.priority-handle {
  vertical-align:middle;
  margin-top: 4px;
  float: right;

}

.priority-label {
  float: left;
}

.roommate-panel {
  margin-left: 1em;
  margin-right: 1em;
  background-color: rgb(221,221,221);
  border: none;
}

.profile-pic-panel {
  background-color: white;
  width: 95%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;

}

.party-panel {
  background-color: white;
  max-width: 100%;
}

.party-table {
  text-align: center;
}
