#sidebar {
  position: fixed;
  top: 64px;
  left: 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 319px;
  background-color: white;
  display: block;
}


#priorities, #nopreference {
  list-style-type: none;
  margin: 0;
  float: left;
  margin-right: 10px;
  background: #eee;
  padding: 5px;
  width: 143px;
}

#priorities li, #nopreference li, {
  margin: 5px;
  padding: 5px;
  font-size: 1.2em;
  width: 120px;
}
